<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ satellites.length }}</span></div>
   <div>Space Debris: <span>{{ satCount("Space Debris") }}</span></div>
   <div>Communication: <span>{{  satCount("Communication") }}</span></div>
   <div>Probe: <span>{{  satCount("Probe") }}</span></div>
   <div>Positioning: <span>{{  satCount("Positioning") }}</span></div>
   <div>Space Station: <span>{{  satCount("Space Station") }}</span></div>
   <div>Telescope: <span>{{  satCount("Telescope") }}</span></div>
</div>
